In [1]:
# import libraries
import pandas as pd 
import numpy as np

In [2]:
# Load the real estate data
df = pd.read_csv('real_estate_price_size_year_view.csv')

In [3]:
df.head()

        price     size  year         view
0  234314.144   643.09  2015  No sea view
1  228581.528   656.22  2009  No sea view
2  281626.336   487.29  2018     Sea view
3  401255.608  1504.75  2015  No sea view
4  458674.256  1275.46  2009     Sea view

In [4]:
#check number of rows and columns in dataset
df.shape

(100, 4)

In [52]:
#create a dataframe with all training data except the target column
X = df.drop(columns=['view','year'])

#check that the target variable has been removed
X.head()

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46

In [53]:
#separate target values
y = df['view']

#view target values
y.head()

0    No sea view
1    No sea view
2       Sea view
3    No sea view
4       Sea view
Name: view, dtype: object

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [63]:
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

In [64]:
knn = KNeighborsClassifier(n_neighbors = 5)

knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [65]:
#show predictions on the test data
knn.predict(X_test)

array(['Sea view', 'Sea view', 'No sea view', 'No sea view',
       'No sea view', 'Sea view', 'Sea view', 'Sea view', 'No sea view',
       'Sea view', 'Sea view', 'No sea view', 'Sea view', 'No sea view',
       'No sea view', 'Sea view', 'Sea view', 'Sea view', 'No sea view',
       'No sea view', 'Sea view', 'Sea view', 'No sea view', 'Sea view',
       'No sea view', 'No sea view', 'No sea view', 'Sea view',
       'Sea view', 'No sea view'], dtype=object)

In [66]:
#check accuracy of our model on the test data
knn.score(X_test, y_test)

0.7666666666666667